/* src/components/ChatMessage.css */
.chat-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
  max-width: 85%;
}

.message-sender {
  font-weight: bold;
  color: #0078d7;
  padding-bottom: 0;
  margin-bottom: 0;
}

.message-content {
  display: inline-block;
  max-width: 85vw; /* Maksimal 85% dari lebar layar */
  margin: 8px 0;
  background-color: rgba(135, 207, 235, 0.7) !important;
  padding: 10px;
  border-radius: 8px !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

}

.message-content p {
  margin: 0;
  width: auto !important;;
}

.message-content a {
  margin-bottom: 8px !important;
}


.own-message {
  align-items: flex-end;
  margin-left: 15%;
}

.own-message .message-sender {
  color: #555;
}

.own-message .content-content, 
.own-message .content-image,
.own-message .content-video,
.own-message .content-file {
  background-color: white !important;
}

.content-text {
  white-space: pre-line;
}

.content-image {
  border-radius: 8px;
  background-color: gba(135, 207, 235, 0.7);
  object-fit: scale-down;
}

.content-video {
  border-radius: 8px;
}

.content-image, .content-video {
  max-width: 400px !important;
  max-height: 600px !important;
  margin-bottom: 12px !important;
}

.content-file {
  display: block;
  color: #0078d7;
  margin-bottom: 12px !important;
}

.content-file .file-name {
  display: block;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 8px;
  padding: 8px 12px;
  margin-bottom: 12px !important;
  font-weight: bold;
  text-decoration: none;
}

.file-name:hover {
  text-decoration: underline;
}
